#back{
  display: flex;
  background-color: #212121;
  padding-top: 20px;
  height: calc(100% - 20px);
}

.card-container{
  border-radius: 4px;
  position: relative;
  display: block;
  height: 630px;
  width: 970px;
  margin-left: auto;
  margin-right: auto;
}

.left-siderbar{
  position: relative;
  height: 100%;
}

.md-list-item-text h5{
  line-height: 1.05;
  font-size: 10px;
  letter-spacing: 0.010em;
  margin: 5px 0 1px 0;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
